.cart {
    padding-top: 132px;
    margin-bottom: 120px;
    @media (max-width: 990px) {
        margin-bottom: 60px; 
    }

    // .cart__wrap

    &__wrap {
    }

    // .cart__top

    &__top {
        display: flex;
        align-items: flex-end;
        margin-bottom: 56px;
        @media (max-width: 576px) {
            flex-direction: column; 
            align-items: flex-start;
            margin-bottom: 35px;
        }
    }

    // .cart__title

    &__title {
        font-family: 'Tenor Sans'; 
        font-weight: 400;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase; 
        color: #323232;
        @media (max-width: 768px) {
            font-size: 35px;
            line-height: 45px; 
        }
    }

    // .cart__count

    &__count {
        font-weight: 600;
        font-size: 24px;
        line-height: 35px;
        color: #323232;
        margin-left: 24px;
    }
 
    // .cart__block-title

    &__block-title {
        font-family: 'Tenor Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 47px; 
        text-transform: uppercase;

        color: #323232;
        margin-bottom: 32px;
    } 
 
    // .cart__inner

    &__inner{
        display: flex;
        margin-bottom: 120px;
        @media (max-width: 1100px) {
            flex-direction: column;
        }
    }

    // .cart__left

    &__left {
        width: 844px;
        margin-right: 54px;
        @media (max-width: 1100px) { 
            width: 100%;
            margin-right: 0;
            margin-bottom: 25px;
        }
    }

    // .cart__right

    &__right {
    } 
 

    //  
} 

.cart-left {

    // .cart-left__header

    &__header {
        display: flex;
        align-items: center; 
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 16px;
        margin-bottom: 16px;

        @media (max-width: 1100px) {
            padding-bottom: 0;
        }
        
    }

    .cart-left__header{
        .cart-left__col{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px; 
            text-transform: uppercase; 
            color: #323232; 
            opacity: 0.96;
            @media (max-width: 1100px) {
                display: none;
            }
            &:nth-child(1){
                min-width: 316px;
                margin-right: 83px;
                @media (max-width: 1300px) {
                    margin-right: 9.83%;
                    min-width: 37.44%;
                }
            }
            &:nth-child(2){
                min-width: 106px;
                margin-right: 100px;
                @media (max-width: 1300px) {
                    margin-right: 11.85%;
                    min-width: 12.56%;
                }
            }
            &:nth-last-child(1){
                min-width: 95px;
                @media (max-width: 1300px) { 
                    min-width: 11.26%;
                }
            }
        }
    }

    // .cart-left__col

    &__col {
        display: flex;
        align-items: center;

        @media (max-width: 1100px) {
            &:nth-child(1){
                margin-bottom: 15px;
            }
        }
    }

    // .cart-left__body

    &__body { 
        width: 100%;
    }

    // .cart-left__product

    &__product {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 16px;
        margin-bottom: 16px;

        @media (max-width: 1100px) { 
            flex-wrap: wrap;
        }

        &:nth-last-child(1){
            margin-bottom: 0;
        }
    }

    // .cart-left__img

    &__img {
        display: flex;
        width: 81px;
        height: 100px;
        margin-right: 21px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50%;
        }
    }

    // .cart-left__inner

    &__inner {
    }

    // .cart-left__link

    &__link {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px; 
        color: #323232; 
        opacity: 0.96;
        margin-bottom: 4px;
    }

    // .cart-left__text

    &__text {
        max-width: 214px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px; 
        color: #323232; 
        opacity: 0.96;
    }

 

    // .cart-left__counter

    &__counter {
        display: flex;
        align-items: center;
    }

    // .cart-left__minus
    // .cart-left__plus

    &__minus,
    &__plus {
        display: flex;
        align-items: center; 
        justify-content: center;
        width: 24px;
        height: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #323232;
        background: transparent;
    }

    // .cart-left__number

    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        width: 40px;
        height: 41px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-left: 9px;
        margin-right: 9px;
    }
 

    // .cart-left__prices

    &__prices {
        display: flex;
        align-items: center;
    }

    // .cart-left__new

    &__new {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px; 
        color: #323232;
        margin-right: 8px;
    }

    // .cart-left__old

    &__old {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px; 
        color: #BEBEBE;
    } 
 
    // .cart-left__controls

    &__controls {
        display: flex;
        align-items: center;
    }

    // .cart-left__wishlist

    &__wishlist {
        width: 18px;
        height: 18px;
        margin-right: 20px;
        svg {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50%;
            transition: all .35s ease;

            path { 
                transition: all .35s ease;
            }
        }

        &:hover {
            svg { 
    
                path {  
                    fill: #8c1a35;
                }
            }
        }
    }

    .added-wishlist{
        svg {
            path {
                fill: #8c1a35;
            }
        }
    }

    // .cart-left__delete

    &__delete {
        width: 18px;
        height: 18px; 
        svg {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50%;
            transition: all .35s ease;

            path { 
                transition: all .35s ease;
            }
        }

        &:hover {
            svg { 
    
                path {  
                    fill: #8c1a35;
                }
            }
        }
    } 

 

}

.cart-right {

    // .cart-right__count

    &__count {
        display: flex;
        align-items: center;
        margin-bottom: 9px;
    }

    // .cart-right__text

    &__text {
        width: 63px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px; 
        text-transform: uppercase; 
        color: #323232; 
        opacity: 0.96;
        margin-right: 16px;
    }

    // .cart-right__value

    &__value {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px; 
        display: flex;
        align-items: flex-end; 
        color: #323232;
    }

    // .cart-right__total

    &__total {
        display: flex;
        align-items: center;
    }

    // .cart-right__price

    &__price {
        font-family: 'Tenor Sans'; 
        font-weight: 400;
        font-size: 40px;
        line-height: 47px;  
        display: flex;
        align-items: flex-end;
        text-transform: uppercase; 
        color: #323232;
    }

    // .cart-right__btn

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 286px;
        height: 60px; 
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.1em;
        text-transform: uppercase; 
        color: #8C1A35; 
        opacity: 0.96;
        border: 2px solid #8C1A35;
        margin-top: 33px;
    }
}


.cart,
.card{
    .products__row{
        position: relative;
        display: flex;
        flex-direction: column;
        // overflow: hidden;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: #fff;
            z-index: 5;
        }
        @media(max-width: 576px) {
            overflow: inherit;
        }
    }
    .products__next{ 
        position: relative!important;
        width: 76px;
        height: 14.73px;
        right: 0; 
        
        &:after {
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='76' height='15' viewBox='0 0 76 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M69.3431 0.292893L75.7071 6.65685C76.0976 7.04738 76.0976 7.68054 75.7071 8.07107L69.3431 14.435C68.9526 14.8256 68.3195 14.8256 67.9289 14.435C67.5384 14.0445 67.5384 13.4113 67.9289 13.0208L72.5858 8.36396L0 8.36396L0 6.36396L72.5858 6.36396L67.9289 1.70711C67.5384 1.31658 67.5384 0.683418 67.9289 0.292893C68.3195 -0.0976311 68.9526 -0.0976311 69.3431 0.292893Z' fill='%23354819'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            color: transparent;
        } 
    }
    .products__prev{
        position: relative!important;
        width: 45px;
        height: 14.73px;
        left: 0; 
        &:after {
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='45' height='15' viewBox='0 0 45 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.65685 0.292893L0.292892 6.65685C-0.0976295 7.04738 -0.0976295 7.68054 0.292892 8.07107L6.65685 14.435C7.04738 14.8256 7.68054 14.8256 8.07107 14.435C8.46159 14.0445 8.46159 13.4113 8.07107 13.0208L3.41422 8.36396L45 8.36396V6.36396L3.41422 6.36396L8.07107 1.70711C8.46159 1.31658 8.46159 0.683418 8.07107 0.292893C7.68054 -0.0976311 7.04738 -0.0976311 6.65685 0.292893Z' fill='%23CCCC9F'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            color: transparent;
        }
        
    }
    
}
